<footer class="footer">
        <div class="footer__contact">
            <div>
                <img src="./assets/logo.png" class="footer__logo" alt="">
            </div>
            <div>
                <p>17 rue de la Savoie <br> 73100 Aix-les-Bains </p>
            </div>
            <div>
                <p>Email: <a href="mailto:LeQuaiAntique@email.com">LeQuaiAntique@email.com</a></p>
            </div>
            <div>
                <p>Tel: <a href="tel:0456000000">04 56 00 00 00</a></p>
            </div>
            <div>
                
                <img src="https://img.icons8.com/fluency-systems-regular/48/null/instagram-new--v1.png" class="footer__fb" alt="lien instagram"/>
                
                <img src="https://img.icons8.com/fluency-systems-regular/48/null/facebook.png" class="footer__ig" alt="lien facebook"/>
            </div>
        </div>

        <div class="horaires">
            <h3>horaires d'ouverture :</h3>
            <div>
                <p>lundi: 12h-15h / 19h-22h</p>
                <p>Mardi: 12h-15h / 19h-22h</p>
                <p>Mercredi: fermé</p>
                <p>Jeudi: 12h-15h / 19h-22h</p>
                <p>Vendredi: 12h-14h / 19h-22h</p>
                <p>Samedi: 19h-22h</p>
                <p>Dimanche: fermé</p>
            </div>
        </div>

        <div>
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89178.5435701726!2d5.833624306744951!3d45.694393813048315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478ba0a29db9d2d3%3A0x408ab2ae4bab940!2sAix-les-Bains!5e0!3m2!1sfr!2sfr!4v1676922714779!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </footer>