{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main>
        <!-- start code desktop -->
        <div id="grid">
            <div class="grid__item" id="photo-1">
                <img src="./assets/photo1.jpg" alt="" class="grid__img">
                <div class="info__bulle">
                    Gravelax de saumon
                </div>
            </div>
            <div class="grid__item" id="photo-2">
                <div class="grid__presentation">
                    <h1 class="grid__titre">Le restaurant,</h1>
                    <p class="grid__text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptatem unde a molestias tempore id aperiam? Ex eaque doloremque, sed voluptatum ullam
                        aspernatur tempora, alias necessitatibus dolorem sapiente iste itaque ab!
                    </p>
                    <a class="grid__btn__menu" href="#">
                        <button type="button" class="btn btn-secondary"> Cartes et menus
                        </button>
                    </a>
                </div>
            </div>
            <div class="grid__item" id="photo-3">
                <video class="grid__img" autoplay muted loop>
                    <source src="assets/video.mp4" type="video/mp4">
                </video>
            </div>
            <div class="grid__item" id="photo-4">
                <img src="./assets/photo3.jpg" class="grid__img">
                <div class="info__bulle">
                    Onglet de veau
                </div>
            </div>

            <div class="grid__item" id="photo-5">
                <img src="./assets/photo6.jpg" alt="" class="grid__img">
                <div class="info__bulle">
                    Balade forestière
                </div>
            </div>
            <div class="grid__item" id="photo-7">
                <img src="./assets/photo10.jpg" alt="" class="grid__img">
                <div class="info__bulle">
                    Crémeux chocolat
                </div>
            </div>
            <div class="grid__item" id="photo-8">
                <img src="./assets/photo12.jpg" alt="" class="grid__img">
                <div class="info__bulle">
                    Des produits frais et de saison
                </div>
            </div>
            <div class="grid__item" id="photo-9">
                <img src="./assets/photo2.jpg" alt="" class="grid__img">
                <div class="info__bulle">
                    Description
                </div>
            </div>
            <div class="grid__item" id="photo-11">
                <img src="./assets/photo11.jpg" alt="" class="grid__img">
                <div class="info__bulle">
                    Description
                </div>
            </div>
            <div class="grid__item" id="photo-12">
                <img src="./assets/photo7.jpg" alt="" class="grid__img">
                <div class="info__bulle">
                    Description
                </div>
            </div>
        </div>

        <!-- end code desktop -->

        <!-- start code mobile  -->
        <div class="mobile__presentation">
            <h1 class="mobile__titre">Le restaurant,</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis non accusamus nam neque fugit rerum
                similique atque! Temporibus quasi quo deleniti sequi distinctio.
            </p>
            <div class="carousel__btn">
                <a class="carousel__btn__menu" href="#"><button type="button" class="btn btn-secondary mb-4"> Cartes et menus
                    </button></a>
            </div>
        <div id="grid__mobile">    
            <div class="grid__item" id="photo-5">
                <img src="./assets/photo1.jpg" alt="" class="grid__img">
            </div>
            <div class="grid__item" id="photo-7">
                <video class="grid__img" autoplay muted loop>
                    <source src="assets/video.mp4" type="video/mp4">
                </video>
            </div>
            <div class="grid__item" id="photo-8">
                <img src="./assets/photo8.jpg" alt="" class="grid__img">
            </div>
            <div class="grid__item" id="photo-9">
                <img src="./assets/photo2.jpg" alt="" class="grid__img">
            </div>
            <div class="grid__item" id="photo-3">
                <img src="./assets/photo10.jpg" alt="" class="grid__img"> 
            </div>
            <div class="grid__item" id="photo-4">
                <img src="./assets/photo3.jpg" class="grid__img">
            </div>
        </div>
        </div>

{% endblock %}
