{% extends 'base.html.twig' %}

{% block title %}Hello DaysController!{% endblock %}


    
    {% block stylesheet %}

    {% endblock %}

{% block body %}

        <div class="horaires">
            <h3>horaires d'ouverture :</h3>
            <div>
                <p>lundi: 12h-15h / 19h-22h</p>
                <p>Mardi: 12h-15h / 19h-22h</p>
                <p>Mercredi: fermé</p>
                <p>Jeudi: 12h-15h / 19h-22h</p>
                <p>Vendredi: 12h-14h / 19h-22h</p>
                <p>Samedi: 19h-22h</p>
                <p>Dimanche: fermé</p>
            </div>
        </div>
{% endblock %}

